/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

/* Header */
h1 {
  text-align: center;
  padding: 20px;
  background-color: #2d1d1d;
  color: white;
  margin: 0;
  font-size: 2rem;
}

/* Table */
table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #2d1d1d;
  color: white;
  font-size: 1rem;
}

td {
  font-size: 0.9rem;
}

.product-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-image {
  width: 50px;
  height: auto;
  border-radius: 5px;
}

.product-info {
  font-size: 0.9rem;
}

.product-name {
  font-weight: bold;
  margin: 0;
}

.product-price {
  color: #666;
  margin: 5px 0 10px;
}

/* Checkbox */
.select-checkbox {
  margin-right: 10px;
}

/* Quantity Input */
.quantity-input {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

/* Remove Button */
.remove-btn {
  color: #2d1d1d;
  text-decoration: none;
  font-size: 0.9rem;
}

.remove-btn:hover {
  text-decoration: underline;
}

/* Summary */
.summary {
  width: 90%;
  margin: 20px auto;
  font-size: 1rem;
  text-align: right;
}

.summary p {
  margin: 5px 0;
}

.summary h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #2d1d1d;
}

/* Continue Shopping Link */
.continue-shopping {
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 1rem;
  text-decoration: none;
  color: #2d1d1d;
}

.continue-shopping:hover {
  text-decoration: underline;
}


.place-order {
  padding: 10px 20px;
  background-color: #2d1d1d;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.place-order:hover {
  background-color: #4b2d2d;
}

.place-order:active {
  background-color: #1d1212;
}

.cart-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #2d1d1d;
  padding: 10px 20px;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  flex-grow: 1;
  text-align: center;
  color: white;
}

.btn-back-dashboard {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 30px;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

.btn-back-dashboard:hover {
  color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  table {
      width: 100%;
  }

  .product-details {
      flex-direction: column;
      align-items: flex-start;
  }
}
